/**********************************************************/
/*          Hoja de estilo de cachopo.html                */
/*          Autor: Eloy Leiva López                       */
/*          Version: 1.0                                  */
/*          Fecha: octubre 2023                           */
/*          Comentario: Ejercicio para portfolio          */
/**********************************************************/


@font-face {
    font-family: titulo;
    src: url(../fonts/Greenfood.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/OpenSans-Regular.ttf);
}

/* 2. SELECTOR WILDCARD (si lo hay) */
* {box-sizing: border-box;} /* Indica que el width de cada box será
                                contando el borde hacia adentro*/

/* 3. ESTRUCTURA DEL LAYOUT GENERAL */
body {background-color: #BC7F4F;
    font-family: texto;
    font-size: 1.5em;
    text-align: justify;
    margin: 0%;
}

#wrapper {background-color: #D8DBB1;
    width: 75%;
    margin: auto;
    padding: 3%;
}

h1, h2 {font-family: titulo;
        text-align: center;
        border-bottom: 2px solid #84404F;
        width: 60%;
        margin: auto;
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #84404F;
        text-shadow: 3px 3px 3px black;
}
h1 {font-size: 3.5em;}
h2 {font-size: 2.5em;}

/* 4. SECCIÓN A SECCIÓN */
/***** Sección principal *****/
img {width: 100%;
    border-radius: 10%;
    margin: auto;
    padding-bottom: 5%;
}

#cachopo {width: 50%;
     border-radius: 15%;
     margin: 3% 25% 0%;
}

blockquote{border-left: 5px solid #84404F;
           padding-left: 5px;
           margin: 0 30%;
}

/***** INGREDIENTES *****/

ul, ol {margin: 0 20%;}
li {padding-bottom: 1%;}
.ingrediente {margin-bottom: 5%;
    list-style-image: url('../images/lista.png');
}

dl {width: 70%;
    margin: auto;
}
dt {font-weight: bold;}
dd {margin-bottom: 3%;}

/***** RESPONSIVIDAD *****/

@media only screen and (width<=1200px) {
    #wrapper {width: 95%;}
    blockquote {margin: 0 10%;}
    #cachopo {width: 80%; margin: 0% 10% 0%;}
    li {text-align: left;}
    ul {margin: 0 10%;}
    ol {margin: 0 5%;}
    dd {text-align: left;}
    dl {width: 90%;}
}

@media only screen and (width<=700px) {
    #wrapper {width: 100%;}
}