/**********************************************************/
/*          Hoja de estilo de cachopo.html                */
/*          Autor: Eloy Leiva López                       */
/*          Version: 1.0                                  */
/*          Fecha: octubre 2023                           */
/*          Comentario: Ejercicio para portfolio          */
/**********************************************************/


@font-face {
    font-family: titulo;
    src: url(../fonts/Greenfood.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/OpenSans-Regular.ttf);
}

/* 2. SELECTOR WILDCARD (si lo hay) */
* {box-sizing: border-box;} /* Indica que el width de cada box será
                                contando el borde hacia adentro*/

/* 3. ESTRUCTURA DEL LAYOUT GENERAL */
body {background-color: #63351E;
    font-family: texto;
    font-size: 1.5em;
    text-align: justify;
}

#wrapper {background-color: #D8DBB1;
    width: 80%;
    margin: auto;
    padding: 3%;
}

h1, h2 {font-family: titulo;
        text-align: center;
        border-bottom: 2px solid rgb(178, 35, 35);
        width: 60%;
        margin: auto;
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #630f01;
}
h1 {font-size: 3.5em;}
h2 {font-size: 2.5em;}

blockquote{border-left: 5px solid darkblue;padding-left: 5px;}

ul, ol {margin: 0 10%;}

/* 4. SECCIÓN A SECCIÓN (si las hubiera) en detalle */